* {
  box-sizing: border-box;
  text-decoration: none;
}

* body {
  font-family: 'open dyslexic', 'Exo' 
  sans-serif; 
  font-size: 20px;
  color: #444;
  /* text-align: center; */
  line-height: 2;
  background-color: EEEEEE;

} 

nav,
footer {
  padding: 1% 0;
  background-color: E8F5E9;
  text-align: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  line-height: 1.9rem;
  color: #2E7D32;
  /* font-size: 1.5rem; */
  padding: 0;
  margin-top: 10%;
}
nav{
  position: fixed;
  top: 5%;
  left: 43%;;
  right: 0;
  /* z-index: 10; */
  font-size: 1.5rem;
  color: #2E7D32;
  font-size: 2rem;
  background-color: #E8F5E9;
}

.navbtn {
  background-color: #2E7D32;
  color: #EEEEEE;
  padding: 1.5% 1.5%;
  margin-right: 5%;
  border-radius: 25px;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.pdxbridge{
  width: 100%;
  max-height: 18rem;
  margin-top: 5%;
}
figcaption{
  color:#2E7D32;
  font-size: .8rem;
  margin-left: 90%;
  margin-top: -7%;

}
h2 {
  text-align:center; 
  padding-top: .5rem;
}

/* finished*/
.bio {
  background-color: #DCEDC8;
  width: 80%;
  margin-top: 8%;
  text-decoration-color: darkslategrey;
  border: 5px solid #FBC02D;
  padding: 1rem;
  margin-left: 3rem;  
} 


/* finished */
.js-projects{
  display: flex;
  width: 70%;
  height: 50%;
  padding: 1rem;
  background-color: E8F5E9;
  border: 5px solid rgb(40, 95, 19);
  margin-top: 15%;
  /* margin-right: 3rem; */
  margin-left: 45%;
  margin-bottom: 5%;
}

p .quiz1 {
font-size: 1rem;
 
  
}

.quiz1img{
  width: 7rem;
  height: 7rem;
  border: 2px solid darkgray;
  margin-left: 10%;
}

.container{
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display:flex;
  flex-direction: row;
  padding: 0;
  margin-top: 3rem;
  padding: 3rem;
  }


/* placement/size and styling to be finished */
.contact {
  background-color: #E8F5E9;
  border: 5px solid #d32f2f;
  width: 20%;
  height: 7%;
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding-bottom: 3rem;
  margin-left: 5%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.contact img{
  height: 3rem;
  width: 3rem;
  align-items: center;
  padding:0;
  margin: 0;
}

.email{
  height: 6rem;
  width: 6rem;
  margin-right: 2rem;
  margin-left: 3rem;
 
}
.github {
  height: 6rem;
  width: 6rem;
  margin-right: 2rem;
  margin-left: 3rem;
}
.linkedin{
  height: 6rem;
  width: 6rem;
  margin-right: 2rem;
  margin-left: 3rem;
}
/* .slack {
  height: 6rem;
  width: 6rem;
  margin-right: 2rem;
  margin-left: 3rem;
} */

.triangle {
  width: 40rem;
  margin-right: 5rem;
  margin-left: 17rem;
  align-self: center;
}
/* placement/size and styling to be finished */
.quote{
  margin-right: 2rem;
  margin-bottom: 5%;
  margin-left: 30%;
  margin-top: 0;
  width: 60%;
  line-height: 2.3;
  font-size: 1.5rem;
  background-color:rgb(40, 95, 19);
  color: #EEEEEE;
  padding: 3rem;
  text-justify: newspaper;
}


footer {
 border: 1px solid lightgrey;
  margin: 0%;
}


/* .showoff{
  display:flexbox;
  float: right;
  width:2px;
  height:2px;
  background-color: #FBC02D; 
  border-top: 40% solid gray;
  border-left: 40% solid gray; 
  border-bottom: 40% solid rgb(11, 66, 16);
  border-right: 40% solid gray;
  margin-bottom: 5rem;
  margin-right: 10%;
} */
 
 /* .triangle {
  width: 40rem;
  height: 35rem;
  background-color: #FFC400;
  margin-top: -40rem;
  margin-bottom: 5rem;
  margin-right: 5rem;
  float: right;
   opacity: 0.4;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  clear: both;
}     */

