* {
  box-sizing: border-box;
}
/* placement/size and styling to be finished */
* body {
  font-family: 'open dyslexic',
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
} 

nav,
footer {
  padding: 1% 0;
  background-color: #C8E6C9;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
}

/* needed to be finished */ 
.navbtn {
  display: -ms-inline-flexbox;
  background-color: #2E7D32;
  color: #212121;
  z-index: 10;
  padding: 1.5% 1.5%;
  border-radius: 25px;
  margin-left: 3rem;
  margin-right: 3rem;
  
}

/* article {
  background-color: #bbb;
} */


/* placement/size and styling to be finished */
/* .js-projects{
  
  width: 90%;
  padding: 6% 0;
  background-color: #B0BEC5;
} */
/* placement/size and styling to be finished */
/* .contact {
  display: inline-flexbox;
  background-color: #C8E6C9;
  border: 1px solid black;
  width: 40%;
  
} */
/* placement/size and styling to be finished */
/* .showoff{
  display: -ms-inline-flexbox;
  float: right;
  width:0px;
  height:0px;
  background-color: #FBC02D; 
  border-left: 40% solid transparent; 
  border-bottom: 40% solid #FBC02D;
  border-right: 40% transarent;
  
} */


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
}